# protect config.ini
<Files config.ini>
    Order allow,deny
    Deny from all
</Files>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Tell them where the favicon always is
    #RewriteRule ^favicon\.ico$ /favicon.ico

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /index.php [L]
</IfModule>
