/*
 * style.css
 * Master StyleSheet
 *
 */

/* RESET */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;vertical-align:baseline}
fieldset,img,a img{border:0}
caption,th{text-align:left;}
table{border-collapse:collapse;border-spacing:0;font-size:inherit;font:100%;}
img{vertical-align:middle;}
ins{text-decoration:none;}
del{text-decoration:line-through;}


/* General
----------------------------------------------------------------------------- */
body { background:#eee url('../img/bg.gif'); overflow-y:scroll; }
body, input, textarea { color:#444; font:62.5%/1.5 'Helvetica Neue', Arial, sans-serif; }

abbr { border-bottom:1px dashed #333; cursor:help; }
a { color:#08c; text-decoration:none; }
a:hover { color:#039; }
