# protect config.php
<Files config.php>
        Order allow,deny
        Deny from all
</Files>

# deny access to .svn
RedirectMatch 404 /\\.svn(/|$)

<IfModule mod_rewrite.c>
        RewriteEngine On
        RewriteBase /PROJECT/

        # Tell them where the favicon always is
        #RewriteRule ^favicon\.ico$ /PROJECT/favicon.ico

        RewriteCond %{REQUEST_FILENAME} !-f
        RewriteCond %{REQUEST_FILENAME} !-d
        RewriteRule . /PROJECT/index.php [L]
</IfModule>
