<?php

# -- Choose one --

# SQLite
/*
define('DB_TYPE', 'sqlite');
define('DB_FILE', './db/tyokakut.db');
*/

# MySQL
/*
define('DB_TYPE', 'mysql');
define('DB_HOST', 'localhost');
define('DB_NAME', 'database');
define('DB_USER', 'someuser');
define('DB_PASS', 'password');
*/
